body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


#passwordmacth {
  margin-top: 5px; 
  color: red; 
  color: green;
  font-size: 12px;
}